<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StopLossBinanceDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StopLossBinanceDotNet.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>*******************</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>*******************</value>
            </setting>
            <setting name="MoveUpStaticThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MoveUpPrcentageThreshold" serializeAs="String">
                <value>10.5</value>
            </setting>
            <setting name="MoveUpPrecentageMarginUnderMarket" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReceiveWindow" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>True</value>
            </setting>
        </StopLossBinanceDotNet.Properties.Settings>
    </applicationSettings>
</configuration>